*{
    margin: 0;
    padding: 0;
}
.qqInfoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.qqName{
}
.qq{
    color: #646C77;
}
.loadingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
